{% extends "cmsplugin_diff/base.html" %}
{% load i18n humanize %}

{% block content_title %}
  {% with next=object.next previous=object.previous %}
  <h1>
    {% if previous.pk %}<a href="{{ previous.get_absolute_url }}" >&laquo</a>{% else %}<a>&#124;</a>{% endif %}
    {{ title }}
    {% if object.published_in %}
      <a href="{{ object.published_in.get_absolute_url }}">&#8962</a>
    {% endif %}
    {% if next.pk %}<a href="{{ next.get_absolute_url }}" >&raquo</a>{% else %}<a>&#124;</a>{% endif %}
  </h1>
  {% endwith %}
{% endblock %}

{% block content %}
  {% with editing=object %}
       {% include "cmsplugin_diff/editing_item.html" %}
  {% endwith %}
{% endblock %}
